<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AyozeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED06BB6A1EF54D3000A247DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED06BB811EF54D3000A247DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED06BB8C1EF54D3000A247DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
